.box__card{
    margin: 10px auto;
    max-width: 320px;
    border: 1px solid var(--Gris);
    box-shadow: 1px 1px 5px -1px;
    color: var(--GrisOscuro);
    border-radius: 10px;
    padding: 20px;
}
.form {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 7px;
}
.form__input {
    border-radius: 5px;
    border: none;
    padding: 6px;
    margin-top: 5px;
    width: 100%;
}
.form__label {
    font-weight: bold;
}

.form__box, .form__box--col50{
    margin-top:10px;
    width: 100%;
}

.form__box--row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form__box--row h4{
    width: 100%;
}

.box__end {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    gap:10px;
    margin-top: 13px;
}

.button {
    border: 1px solid var(--Gris);
    box-shadow: 1px 1px 5px var(--GrisOscuro);
    color: var(--GrisOscuro);
    border-radius: 5px;
    padding: 5px;
}
.button__primary {
    background-color: var(--Celeste);
    color: #FFF;
}

.form__msg-error {
    color: red;
    margin-left: 5px;
    display: none;
}

@media (min-width:768px) {
    .form {
        justify-content: space-between;
    }
    
    .box__card {
        max-width: 600px;
    }

    .form__input {
        width: 100%;
    }

    .form__box--col50 {
        width: 48%;
    }

}