:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    max-width: 1140px;
    width: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}