header {
    background-color: var(--Amarillo);
}


header .top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
    align-items: center;
}

header .mp-logo {
    width: 47%;
    max-width: 200px;
}

header .searchbar {
    position: relative;
    width: 47%;
    max-width: 200px;
}

header .searchbar input{
    border: none;
    height: 35px;
    border-radius: 5px;
    text-indent: 10px;
    width: 100%;
}

header .searchbar button {
    border: none;
    background-color: white;
    position: absolute;
    top: 25%;
    right: 2%;
    padding-left: 7px;
}

.header-text{
    font-size: 1rem;
    text-align: center;
    font-weight: 200;
}

header .navegacion {
    display: none;
}

header .burger-menu{
    display: flex;
    justify-content: center;
}
header .burger-menu a{
    background-color: var(--Azul);
    color: white;
    border-radius: 5px;
    padding: 7px 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

@media (min-width: 768px){

    header .top-bar {
        justify-content: space-between;
        gap: 0;
    }

    header .burger-menu a{
        display: none;
    }
    
    header .searchbar {
        position: relative;
        width: 30%;
        max-width: none;
        align-self: center;   
    }

    header .mp-logo {
        width: 26%;
        max-width: 400px;
    }

    header .navegacion {
        display: flex;
        justify-content: space-between;
    }

    header .navegacion ul {
        padding: 1rem;
        display: flex;
    }
    header .navegacion ul a{
        color: black;
        padding-inline: 8px;
    }
}

@media (min-width: 1140px) {
    header {
        padding-inline: 50px;
    }
}